
//Typography Variables
$headlinePrimaryColor: #58e1c1 ;
$black: #777;

//Button Variables 
$white: #fff;
$linkColor: #51ddfc;
$defaultColor: #51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;


// Grid Variables
$column1:#927bc1;
$column2: #fd7856;
$column3:#deb2ee;
$column4:#7ee6fd;
$column5: #88d9a0;
$column6: #4da2bb;
$column7:#ec9fa3;
$column8:#fd9f85;
$column9: #e4757a;
$column10:#63cc82;
$column11:#51ddfc;
$column12:#80e8d1;

//Media Query Break Point
$breakPoint: 768px;

//Image Frame
$imageFrame: #ccc;